.page {
  margin: 20px;
}

article {
  margin: 10px 0;
}
.item .item-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  line-height: 1.3rem;
}

.item .item-content a:visited {
  color: #999999;
}

.item-details {
  /* display: flex;
  flex-wrap: wrap; */
  font-size: 11px;
}
.btn {
  /* float: right!important; */
  margin: 2px;
}


.navbar-default {
  background-color: #fff;
}
.navbar {
  margin-top: 10px;
  border: 0;
}
.navbar-right {
  margin-right: 0px;
  float: right!important;
}
.navbar-nav {
  margin: 0;
  flex-direction: row;
}
@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0px;
  }
  .navbar-nav {
    margin: 0;
  }
}